<div class="container p-9">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    {{!-- <h2>Language</h2>
                    <button class="btn-lang" ><h4>English</h4></button> --}}
                    <form action="/form/add" method="POST">
                        <h2>Location:</h2>
                        <p class="cords">{#NODE}</p>
                        <h2>What is your emergency?</h2>
                        <div class="img-btn">
                            <button type="submit" class="btn-form" name="emergency" value="Medic"><img src="img/Medic_en.png" class="btn-form" alt="Submit"></button>
                            <button type="submit" class="btn-form" name="emergency" value="SOS"><img src="img/SOS_en.png" class="btn-form" alt="Submit"></button>
                        </div>
                        <div class="img-btn">
                            <button type="submit" class="btn-form" name="emergency" value="Fire"><img src="img/Fire_en.png" class="btn-form" alt="Submit"></button>
                            <button type="submit" class="btn-form" name="emergency" value="Flood"><img src="img/Flood_en.png" class="btn-form" alt="Submit"></button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>