<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">MAMA DUCK</h1>
            <h3 class="mb-5">
                <em>Connect to network</em>
            </h3>
            <button class="btn btn-primary btn-lg" >
            <a href="/form/add">Connect</a>
                
            </button>
        </div>
        <div class="overlay"></div>
    </header>
</main>