<div class="container p-9">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2>Language</h2>
                    <button class="btn-lang" ><h4>English</h4></button>
                    <form action="/form/add" method="POST">
                        <h2>Location:</h2>
                        <p class="cords">{#NODE}</p>
                        <button class="btn-send"><h4>SEND</h4></button>
                    </form>
                    <button class="btn-det">
                        <a class="btn-det" href="/form/add"> 
                            Add details before send
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>