<div class="container p-9">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/form/add" method="POST">
                    <h3>Request for help</h3>
                    {{!-- <h5>Language</h5>
                    <button class="btn-lang">
                                English
                            </button> --}}
                        <div class="form-group">
                            <h6>Where are you at?</h6>
                            <input type="text" name="place" class="form-input" placeholder="Place" autofocus>
                        </div>
                        <div class="form-group">
                            <h6>What is your emergency?</h6>
                            <table id="table-form">
                                <tbody>
                                    <tr>
                                        <th><input type="checkbox" id="emergency" name="emergency" value="Fire"> Fire</th>
                                        <th><input type="checkbox" id="emergency" name="emergency" value="Medic"> Medic</th>                                
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox" id="emergency" name="emergency" value="Violence"> Violence</th>
                                        <th><input type="checkbox" id="emergency" name="emergency" value="Building"> Building</th>                                    
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox" id="emergency" name="emergency" value="Flood"> Flood</th>
                                        <th><input type="checkbox" id="emergency" name="emergency" value="Trapped"> Trapped</th>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="text" name="emergency" class="form-input" placeholder="Other" autofocus>
                        </div>
                        <div class="form-group">
                        <h6>What do you need?</h6>
                        <table id="table-form">
                            <tr>
                                <th><input type="checkbox" id="need" name="need" value="Evacuation"> Evacuation</th>
                                <th><input type="checkbox" id="need" name="need" value="Food"> Food</th>
                            </tr>
                            <tr>
                                <th><input type="checkbox" id="need" name="need" value="Clothes"> Clothes</th>
                                <th><input type="checkbox" id="need" name="need" value="Refuge"> Refuge</th>
                            </tr>
                            <tr>
                                <th><input type="checkbox" id="need" name="need" value="Firstaid"> First aid</th>
                                <th><input type="checkbox" id="need" name="need" value="Water"> Water</th>
                            </tr>
                        </table>
                            <input type="text" name="need" class="form-input" placeholder="Other" autofocus>    
                        </div>
                        <div class="form-group">
                            <h6>Message:</h6>
                            <textarea type="text" name="message" rows="2" class="form-input" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input class="btn-submit" type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>