<div class="container p-9">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="message-form">
                            <h3>Message sent</h3>
                        </div>
                        <p>If your situation changes, please send an update</p>
                        <a class="btn btn-danger" href="/form/edit/{{id}}">
                        UPDATE</a>
                        <h4>Change my status</h4>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>